# NextAuth
AUTH_SECRET=

# Database
DATABASE_URL=

# Email Configuration (for magic links)
ENV=development
EMAIL_FROM=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_SECURE=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=

# Google OAuth
# Create app at: https://console.developers.google.com/
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth
# Create app at: https://github.com/settings/developers
GITHUB_ID=
GITHUB_SECRET=
